[submodule "third_party/Vulkan-Headers"]
	path = third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "third_party/VulkanMemoryAllocator"]
	path = third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/holydel/imgui
	branch = ermy
[submodule "third_party/DirectX-Headers"]
	path = third_party/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "third_party/D3D12MemoryAllocator"]
	path = third_party/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/pugixml"]
	path = third_party/pugixml
	url = https://github.com/zeux/pugixml
[submodule "third_party/meshoptimizer"]
	path = third_party/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "third_party/miniaudio"]
	path = third_party/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "eproj_template/assets/Vulkan-Assets"]
	path = eproj_template/assets/Vulkan-Assets
	url = https://github.com/SaschaWillems/Vulkan-Assets
[submodule "eproj_template/assets/Vulkan-Samples-Assets"]
	path = eproj_template/assets/Vulkan-Samples-Assets
	url = https://github.com/KhronosGroup/Vulkan-Samples-Assets/
[submodule "third_party/OpenXR-SDK"]
	path = third_party/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "third_party/astc-encoder"]
	path = third_party/astc-encoder
	url = https://github.com/ARM-software/astc-encoder.git
