[submodule "third_party/Vulkan-Headers"]
	path = third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "third_party/VulkanMemoryAllocator"]
	path = third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/holydel/imgui
	branch = ermy
[submodule "third_party/DirectX-Headers"]
	path = third_party/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "third_party/D3D12MemoryAllocator"]
	path = third_party/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
